* {
  margin: 0;
  padding: 0;
}

.backgnd {
  width: 100%;

  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgnd img {
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  object-position: 50% 50%;
}
